NF_COMPUTE_ENV_ID=compute_env_id
NF_WORKSPACE_ID=workspace_id
NF_TOKEN=some_token
NF_PIPELINE_URL=https://github.com/Ensembl/ensembl-vep
NF_WORK_DIR=/path/to/nextflow/work/dir
SEQERA_API=https://api.cloud.seqera.io
WEB_METADATA_API=https://www.ensembl.org/api/metadata/
VEP_SUPPORT_PATH=/path/to/vep/support/datafiles/dir
DEBUG=True
